[submodule "configurations"]
	path = extras/configurations
	url = https://github.com/DynamiteAI/configurations.git
[submodule "jobs"]
	path = extras/jobs
	url = https://github.com/DynamiteAI/jobs
[submodule "extras/kibana_packages"]
	path = extras/kibana_packages
	url = https://github.com/DynamiteAI/kibana_packages
