[submodule "configurations"]
	path = configurations
	url = https://github.com/DynamiteAI/configurations.git
[submodule "jobs"]
	path = jobs
	url = https://github.com/DynamiteAI/jobs
[submodule "utilities"]
	path = utilities
	url = https://github.com/DynamiteAI/utilities
