{% extends "admin/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}
<br>
<div class="card border-success">
  <h5 class="card-header">Create Admin User</h5>
  <div class="card-body">
    <form action="/users/create_user_submit" method="POST" name="register_user_form">
        <label for="username_input">Username</label><br>
            <input class="form-control" type="text" id="username_input" name="username" placeholder="Enter username"><br>
        <label for="email_input">Email</label><br>
            <input class="form-control" type="email" id="email_input" name="email" aria-describedby="emailHelp" placeholder="Enter email"><br>
        <label for="password_input">Password</label><br>
            <input class="form-control" type="password" id="password_input" name="password" placeholder="Enter password"><br>
        <label for="role_input">Role</label><br>
        <select class="form-control" aria-labelledby="dropdownMenuLink" name="role" id="role_input">
          <option>admin</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% include "security/_menu.html" %}
{% endblock %}

{% block navbar %}
  {% include "security/_navbar.html" %}
{% endblock %}