{% extends "admin/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}
<br>
<div class="card border-success">
  <h5 class="card-header">Create New User</h5>
  <div class="card-body">
    <form action="/create_new_user" method="POST" name="register_user_form">
        <label for="username">Username</label>
            <input type="text" id="username_input" name="username"><br>
        <label for="email">Email</label>
            <input type="text" id="email_input" name="email"><br>
        <label for="password">Password</label>
            <input type="password" id="password_input" name="password"><br>
    </form>
  </div>
</div>
{% include "security/_menu.html" %}
{% endblock %}

{% block navbar %}
  {% include "security/_navbar.html" %}
{% endblock %}