{% extends "admin/base.html" %} {% block content %}
<br />
<div class="table-responsive-sm">
    <table style="width: 100%;" class="table table-sm table-borderless">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Current Login</th>
                <th>Login Count</th>
                <th>Last Login IP</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <div class="btn-group" role="group">
                        <a href="#"><button style="font-size:15px;" class="btn btn-danger my-2 my-sm-0" type="button">ⓧ</button></a>
			&nbsp
                        <a href="#"><button style="font-size:15px;" class="btn btn-warning my-2 my-sm-0" type="button">✎</button></a>
                    </div>
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
		<td><span class="badge badge-primary">{{ user.last_login_at }}</span></td>
		<td><span class="badge badge-primary">{{ user.current_login_at }}</span></td>

                <td>{{ user.login_count }}</td>
		<td><span class="badge badge-secondary">{{ user.last_login_ip }}</span></td>
		{% if user.active %}
		<td>✅</td>
		{% else %}
		<td>❌</td>
		{% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="/users/create"><button class="btn btn-success" type="button" style="font-size:11px">New User</button></a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %} {% block navbar %} {% include "security/_navbar.html" %} {% endblock %}
