[Unit]
Description=Kibana
After=network.target

[Service]
ExecStart=/opt/dynamite/kibana/bin/kibana -c ${KIBANA_PATH_CONF}/kibana.yml -l ${KIBANA_LOGS}/kibana.log

Type=simple
PIDFile=/var/run/dynamite/kibana.pid
Restart=always
EnvironmentFile=/etc/dynamite/environment


User=dynamite
Group=dynamite

[Install]
WantedBy=default.target