[Unit]
Description=Zeek Network Traffic Monitor
After=network.target
PartOf=dynamite-agent.target

[Service]
EnvironmentFile=/etc/dynamite/environment
# Find the python2 binary
Environment="PYTHON_BIN=`whereis python | tr ' ' '\n' | grep -v config | grep -v 3 | sed -n '2p'`"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/zeekctl cleanup"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/zeekctl check"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/zeekctl install"
ExecStart=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/zeekctl start"
ExecStop=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/zeekctl stop"
RestartSec=10s
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=600
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=dynamite-agent.target