{% extends "home/base.html" %}
{% block navbar %}
  {% include "security/_navbar.html" %}
{% endblock %}

{% block alerts %}
  {% include "home/_alerts.html" %}
{% endblock %}


{% block content %}
    {% if current_user.is_authenticated and current_user.username == 'admin'%}
    <div class="card">
       <h5 class="card-header">Setup your account</h5>
       <div class="card-body">
          <h5 class="card-title">Create an admin account.</h5>
          <p class="card-text">Let's setup your admin and any additional user accounts.</p>
          <a href="/users/create_admin" class="btn btn-primary">Setup accounts</a>
       </div>
    </div>
    {% elif current_user.is_authenticated %}
    <div class="card">
       <h5 class="card-header"></h5>
       <div class="card-body">
          <h5 class="card-title">Welcome!</h5>
          <p class="card-text">Welcome <b>{{ current_user.username }}</b>, to the DynamiteNSM agent management UI!</p>
           {% if current_user.has_role('admin') %}
            <a href="/users" class="btn btn-primary">Manage Users</a>
           {% endif %}
          <a href="/docs" class="btn btn-secondary">Explore the API</a>
       </div>
    </div>
    {% else %}
      <div class="card">
       <h5 class="card-header">Login</h5>
       <div class="card-body">
          <h5 class="card-title">Login to your account.</h5>
          <p class="card-text">To continue, you must login to your account.</p>
          <a href="/login" class="btn btn-success">Login</a>
       </div>
    </div>
    {% endif %}
    <center>
    </center>
{% endblock %}

