Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=elasticsearch
PrivateTmp=true
Environment=PID_DIR=/var/run/dynamite/
Environment=ES_SD_NOTIFY=true
EnvironmentFile=/etc/dynamite/environment

WorkingDirectory=/opt/dynamite/elasticsearch

User=dynamite
Group=dynamite

ExecStart=/opt/dynamite/elasticsearch/bin/elasticsearch -p ${PID_DIR}/elasticsearch.pid

StandardOutput=journal
StandardError=inherit
LimitNOFILE=65536
LimitMEMLOCK=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
