[Unit]
Description=Dynamite Agent Service 
Requires=network-online.target
After=network-online.target
Wants=suricata.service zeek.service filebeat.service

