[Unit]
Description=Suricata IDS
After=network.target
Requires=network.target
PartOf=dynamite.target

[Service]
Type=forking
Environment=SURI_CFG=/etc/dynamite/suricata/suricata.yaml SURI_PID=/var/dynamite/suricata/run/suricata.pid
PIDFile=/var/dynamite/suricata/run/suricata.pid
ExecStart=/opt/dynamite/suricata/bin/suricata -c $SURI_CFG --af-packet -D --pidfile $SURI_PID 
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID
PrivateTmp=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=dynamite.target
